* {
    margin: 0;
    padding: 0;
}

html {
    background-image: url("/static/background.webp");
}

body {
    background-color: rgb(179, 168, 165); /* Solid background color */
    background-image: url("/static/bg.jpg"); /* Background image */
    background-size: cover; /* Cover the entire element */
    background-repeat: no-repeat; /* Prevent repetition */
    background-position: center; /* Center the image */
    width: 800px;
    height: 1000px;
    margin: 0 auto;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    color: #2d3436;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    border-bottom: 1px solid grey;
    font-family: 'Galada', cursive;
    padding: 20px;
    margin-bottom: 25px;
    color:black;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
}

table td, table th {
    border: 1px solid #00b894;
    padding: 10px;
}

table th {
    background: #00b894;
    color: white;
}

a, input[type=submit] {
    padding: 8px;
    color: white;
    background: grey;
    border-radius: 5px;
    border: none;
    text-align: center;
}

input[type=submit] {
    margin-top: 15px;
    background: #00b894;
    font-size: 15px;
}

input[type=text] {
    border: 1px solid grey;
    height: 30px;
    width: 300px;
    display: block;
    margin-top: 15px;
    font-size: 15px;
    padding: 5px;
}

label {
    display: block;
    margin-top: 15px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.special-link {
    background: #2d3436;
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

table td:nth-child(5) a {
    background: #e84393;
    text-decoration: none;
    padding: 5px 30px;
    color: white;
}

table td:nth-child(6) a {
    background: #d63031;
    text-decoration: none;
    padding: 5px 30px;
    color: white;
}

h4 {
    text-align: right;
    color: #6c5ce7;
}

p a {
    color: #00b894;
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #dfe6e9;
}

.alert {
    padding: 15px;
    background-color: #f44336;
    color: white;
    margin-bottom: 20px;
}

.alert.success {
    background-color: #4CAF50;
}

.alert.info {
    background-color: #2196F3;
}

.alert.warning {
    background-color: #ff9800;
}

.alert.close {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.alert.close:hover {
    color: black;
}
